@import "../../styles/rtc";

.text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 4rem;
  width: 50rem;
}

// МОДИФИКАТОРЫ

// < 1440px
@media (max-width: map-get($grid-breakpoints, xx)-1) {
}


// < 1200px
@media (max-width: map-get($grid-breakpoints, xl)-1) {
}


// < 992px
@media (max-width: map-get($grid-breakpoints, lg)-1) {
  .text {
    font-size: 11rem;
    width: 100%;
  }

  .buttonContainer {
    margin-bottom: 15rem;
  }
}


// < 768px
@media (max-width: map-get($grid-breakpoints, md)-1) {
}


// < 576px
@media (max-width: map-get($grid-breakpoints, sm)-1) {
}


@media print {
}
